.image-and-text {
	text-align: center;
	width: 400px;
}

.navbar-custom {
	position: absolute;
	right: 20px;
}

.navbar-buttons {
	margin: 20px 0 0 0;
}

.text-aligned-to-image {
	margin: 10px 0;
}

.txt-img-container {
	position: absolute;
	left: 50%;
	width: 100%;
	margin-left: -177px;
}
