<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterContribution</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.RegisterContributionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllContributions</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.AllContributionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterComment</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.RegisterCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByTag</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.SearchByTagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentsByContributionID</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.CommentsByContributionIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllTags</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.AllTagsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContributionByID</servlet-name>
        <servlet-class>com.bounswe2015group5.xplore.ContributionByIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/UserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterContribution</servlet-name>
        <url-pattern>/RegisterContribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllContributions</servlet-name>
        <url-pattern>/AllContributions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterComment</servlet-name>
        <url-pattern>/RegisterComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByTag</servlet-name>
        <url-pattern>/SearchByTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentsByContributionID</servlet-name>
        <url-pattern>/CommentsByContributionID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllTags</servlet-name>
        <url-pattern>/AllTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContributionByID</servlet-name>
        <url-pattern>/ContributionByID</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
