<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Xplore Project</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Tag Details</h2>

    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Tag Id:</label>

                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${tag.id}">Tag Id</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name :</label>

                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${tag.name}">Tag name</p>
                </div>
            </div>
        </form>
    </div>

    <div th:if="${not #lists.isEmpty(tag.contributions)}">
        <h2>Contribution List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="contribution : ${tag.contributions}">
                <td th:text="${contribution.id}"><a href="/contribution/${contribution.id}">Id</a></td>
                <td th:text="${contribution.title}">contribution title</td>
                <td th:text="${contribution.content}">contribution content</td>
                <td><a th:href="${'/contribution/' + contribution.id}">View</a></td>
                <td><a th:href="${'/contribution/edit/' + contribution.id}">Edit</a></td>
                <td><a th:href="${'/contribution/delete/' + contribution.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>