<div class="panel-heading">
    <h3 class="panel-title">Contribute</h3>
</div>
<div class="panel-body">
    <form ng-controller="ContributeCtrl" ng-submit="contribute()">
        <label>Title:</label>
        <textarea class="form-control" rows="1" ng-model="contribution.title" placeholder="Enter a title"
                  required></textarea>

        <label>Content:</label>
        <textarea class="form-control" rows="5" ng-model="contribution.content" placeholder="Enter a content"
                  required></textarea>

        <label>Reference:</label>
        <textarea class="form-control" rows="1" ng-model="contribution.refenseList" placeholder="Enter a reference"
                  required></textarea>

        <label>Tags:</label>
        <ui-select multiple
                   id="tags"
                   ng-model="form.selectedTags"
                   ng-disabled="disabled"
                   theme="bootstrap">
            <ui-select-match placeholder="Select tags..">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="tag.id as tag in tags | filter: {name: $select.search}"
                               refresh="refreshTags()"
                               refresh-delay="0">
                <div ng-bind-html="tag.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <p>Selected: {{form.selectedTags}}</p>

        <input type="submit" value="Contribute" class="btn btn-success">

    </form>
</div>
