<div ng-controller="ContributeCtrl">
    <ui-select multiple ng-model="form.selectedTags" ng-disabled="disabled"
               style="width: 100vh;">
        <ui-select-match placeholder="Select tag...">{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="tag.id as tag in tags | filter: {name: $select.search}">
            <div ng-bind-html="tag.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <p>Selected: {{form.selectedTags}}</p>

</div>