<nav class="navbar navbar-default" ng-controller="NavBarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Xplore</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="active"><a href="#/trending">Trending </a></li>
            </ul>

            <search-form></search-form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="user()" uib-dropdown >
                    <a href uib-dropdown-toggle>
                        Login
                    </a>
                    <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
                        <li>
                            <a ui-sref="login">Login</a>
                        </li>
                        <li>
                            <a ui-sref="signup">Sign Up</a>
                        </li>
                    </ul>
                </li>
                <li ng-show="user()" uib-dropdown >
                    <a href uib-dropdown-toggle>
                        {{user().username}}
                    </a>
                    <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
                        <li>
                            <a ui-sref="profile">Profile</a>
                        </li>
                        <li>
                            <a ui-sref="logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>