<div class="panel-heading">
    <h3 class="panel-title">Profile</h3>
</div>
<div class="panel-body" ng-controller="ProfileCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <label>Username:</label>
            {{userData.username}}
            <br>
            <label>Email:</label>
            {{userData.email}}
            <br>
            <label>Contributions</label>
            </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="contribution in userContributions">
                <h5>{{contribution.title}}</h5>
                <p>{{contribution.content}}</p>
                <p>{{contribution.creator.username}}</p>
                <p>{{contribution.creationDate}}</p>
                <p>Tags:</p>
                <div class="btn-group btn-group-sm" role="group" >
                    <button type="button" class="btn btn-default" ng-repeat="tag in contribution.tags" ui-sref="viewTag({ tagId: tag.id })">{{tag.name}}</button>
                </div>
            </li>
        </ul>
    </div>
</div>
