<div class="panel-heading">
    <h3 class="panel-title">Contribution Details</h3>
</div>
<div class="panel-body" ng-controller="ViewContributionCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{contribution.title}}</h4></div>
        <div class="panel-body">
            <p>{{contribution.content}}</p>
            <p>
                <bold>by</bold>
                {{contribution.creator.username}}
            </p>
            <p><span class="badge">{{contribution.createdAt}}</span></p>
            <p><a ng-hide="!contribution.referenseList" ng-href="{{contribution.referenseList}}">Reference</a></p>
            <label>Tags:</label>
            <br>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default" ng-repeat="tag in tags"
                        ui-sref="viewTag({ tagId: tag.id })">{{tag.name}}
                </button>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="comment in comments">
                <p>{{comment.content}}</p>
                <span class="badge">{{comment.createdAt}}</span>
                <p>by {{comment.user.username}}</p>
            </li>
        </ul>
    </div>

    <!-- Comment Form -->

    <form ng-submit="addANewComment()" ng-show="username">
        <label>Your comment:</label>
        <textarea ng-model="commentContext.commentBody" class="form-control" rows="3"
                  placeholder="Enter a new comment.." required></textarea>
        <input type="submit" value="Comment" class="btn btn-warning">
    </form>
</div>
