<div class="panel-heading">
    <h3 class="panel-title">Contributions</h3>
</div>
<div class="panel-body" ng-controller="ViewTagCtrl">
        <form ng-submit="$state.go('contribute')">
            <fieldset align="center" class="form-group">
                <input type="submit"  class="btn btn-primary col-lg-pull-3" value="Add Contribution" />
            </fieldset>
        </form>

        <div ng-repeat="contribution in contributions">
            <h4>{{contribution.title}}</h4>
            <p>{{contribution.content}}</p>
            <p>by {{contribution.creator.username}} at {{contribution.creationDate}}</p>
            <input type="submit"  class="btn btn-success" value="Like" />
            <input type="submit"  class="btn btn-danger" value="Dislike" />

            <ul class="list-inline">
                <li>Tags:</li>
                <li ng-repeat="tag in contribution.tags" ui-sref="viewTag({ tagId: tag.id })">{{tag.name}}</li>
            </ul>
            <br/>
        </div>
</div>

