<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <description/>
        <display-name>SignupServlet</display-name>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ContribServlet</display-name>
        <servlet-name>ContribServlet</servlet-name>
        <servlet-class>ContribServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContribServlet</servlet-name>
        <url-pattern>/ContribServlet</url-pattern>
    </servlet-mapping>
</web-app>
